.swiper-button-next,
.swiper-button-prev {
    /* --swiper-navigation-color: rgb(203, 75, 116); */
    --swiper-navigation-color: rgb(251 146 60);
}
.swiper-pagination>.swiper-pagination-bullet,
.swiper-pagination > .swiper-pagination-bullet-active {
    /* background-color: rgb(254 205 211); */
    background-color: rgb(255 237 213);
    height: 12px;
    width: 12px;
    /* border-color: rgb(203, 75, 116); */
    border-color: rgb(251 146 60);
    border-width: 2px;
}